Repository munich-quantum-toolkit/qcec, pull requests merged in 2025-06, with the labels that each got.

#623 ⬆️ Update `googletest` from `v1.16.0` to `v1.17.0`
  cmake/ExternalDependencies.cmake
Labels: dependencies, c++

#512 🐛 Fix ancillary handling in ZX checker
  CHANGELOG.md
  include/Configuration.hpp
  include/checker/zx/ZXChecker.hpp
  src/EquivalenceCheckingManager.cpp
  src/checker/zx/ZXChecker.cpp
  src/mqt/qcec/pyqcec.pyi
  src/python/bindings.cpp
  test/python/test_verify.py
  test/test_zx.cpp
Labels: c++, minor, fix

#626 🗑️ Deprecate ancilla mode
  CHANGELOG.md
  pyproject.toml
  src/mqt/qcec/compilation_flow_profiles.py
  src/mqt/qcec/verify_compilation_flow.py
  test/python/test_compilation_flow_profiles.py
  test/python/test_verify_compilation.py
Labels: dependencies, python, usability

#632 📝🩹 Disable PDF build on RtD
  .readthedocs.yaml
Labels: documentation, fix
